!!! 5
head
  title Trolley
  meta(charset='utf-8')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  script(src='https://raw.github.com/HBehrens/box2d.js/master/javascript/Box2D/box2d.min.js')
  script(src='https://raw.github.com/eirikb/trolley/master/trolley.min.js')
  script(src='main.js')
  style
body
  a(href='http://github.com/eirikb/trolley')
    img.ribbon(src='https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67', alt='Fork me on GitHub')
  .container
    header.page-header
      h1 Trolley - Box2D utility
    for example in examples
      .row
        .span6
          pre(contenteditable).prettyprint.lang-js.linenums
            for line in example
              |  #{line}
          span.label editable
          button.re-run.btn.btn-primary.btn-mini
            | Re-run
            i.icon-play.icon-white
        .span6
          button.btn.well.span5.play 
            | Run example
            i.icon-play
          canvas(width='300px', height='200px')
      hr
